.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 30px;
	padding-bottom: 74px;

	min-height: 840px;
	background: linear-gradient(
			180deg,
			#242b33 11.98%,
			rgba(45, 52, 60, 0.38) 51.04%,
			#242b33 92.19%
		),
		url('./../img/header/header-bg.jpg');
}

.header__top-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav {
	// @media screen and (max-width: $tablet) {
	// 	display: none;
	// }

	// usin mixin insted
	@include mediaTablet {
		display: none;
	}
}

.header__nav-btn {
	display: none;

	// @media screen and (max-width: $tablet) {
	// 	display: block;
	// }

	// usin mixin insted
	@include mediaTablet {
		display: block;
	}
}

.header__title {
	position: relative;
	text-align: center;
	font-size: 48px;
	font-family: $accent;
	color: $accent;
	font-weight: 700;
	padding-bottom: 121px;

	&-icon {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50% 0%);
	}
}

.header__footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 30px;
}
