@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap');

body {
	font-family: $font-main;
	background: $dark;
	color: $white;
	font-size: 16px;
}

a {
	color: $white;
	transition: color 0.2s ease-in;

	&:hover {
		color: $accent;
	}
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1140px;

	&--sm {
		max-width: 948px;
	}
}

.text-right {
	text-align: right;
}

.visually-hidden {
	/*Contains text within 1px box */
	height: 1px;
	overflow: hidden;
	width: 1px;

	/*Keeps the layout */
	position: absolute;

	/*Removes any visible trace (e.g. background, color) */
	clip: rect(1px 1px 1px 1px); /*IE6, IE7*/
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%); /*browsers in the future*/

	/*Prevents the screen-reader to skip spaces between words */
	white-space: nowrap;
}

.none {
	display: none !important;
}

.titles-2ndLevel {
	font-size: 36px;
	font-family: $font-accent;
	color: $accent;
	font-weight: 700;

	@include mediaTablet {
		font-size: 26px;
	}
}

.link-bold {
	color: $accent;
	font-weight: 700;
}

.no-scroll {
	overflow-y: hidden;
}
