// Fonts
$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;

// Colors
$dark: #242833;
$accent: #d4c17f;
$white: #fff;
$footer-bg: #2d343c;
$placeholder: #bebebe;
$muted: #e7e7e7;

// Media queries
$tablet: 975px;
